<!-- <!DOCTYPE html>
<html>
<head>
	<title>Daily Trip Notification</title>
</head>
<body>
	<div>
		<p>Hi <%= trip['userName'][0] %>,</p>
	</div>
	<div>
		You have Following Trip arriving/departuring tomorrow:
	</div>
	<div>
		<strong>Departures</strong>
	</div>
	<div>
		<% if(trip.departures.length>0){ %>
			<table>
				<thead>
					<tr>
						<th>Group Name</th>
						<th>Trip Name</th>
						<th>Total Member</th>
						<th>Departure Date</th>
						<th>Arrival Date</th>
					</tr>
				</thead>
				<% for(var i=0; i < trip.departures.length; i++) { %>
   				<tr>
     				<td><%= trip.departures[i].bookings.bookingId %></td>
     				<td><%= trip.departures[i].bookings.groupName %></td>
     				<td><%= trip.departures[i].bookings.tripName %></td>
     				<td><%= trip.departures[i].bookings.travellerCount %></td>
     				<td><%= (new Date(trip.departures[i].departureDate.epoc * 1000)).toLocaleDateString() %></td>
     				<td><%= (new Date(trip.departures[i].arrivalDate.epoc * 1000)).toLocaleDateString() %></td>
   				</tr>
				<% } %>
			</table>
		<% }else{ %>
			<span>No any departure records for tomorrow</span>
		<% } %>
	</div>

	<div>
		<strong>Arrivals</strong>
	</div>
	<div>
		<% if(trip.arrivals.length>0){ %>
			<table>
				<thead>
					<tr>
						<th>Group Name</th>
						<th>Trip Name</th>
						<th>Total Member</th>
						<th>Departure Date</th>
						<th>Arrival Date</th>
					</tr>
				</thead>
				<% for(var i=0; i < trip.arrivals.length; i++) { %>
   				<tr>
     				<td><%= trip.arrivals[i].bookings.bookingId %></td>
     				<td><%= trip.arrivals[i].bookings.groupName %></td>
     				<td><%= trip.arrivals[i].bookings.tripName %></td>
     				<td><%= trip.arrivals[i].bookings.travellerCount %></td>
     				<td><%= (new Date(trip.arrivals[i].departureDate.epoc * 1000)).toLocaleDateString() %></td>
     				<td><%= (new Date(trip.arrivals[i].arrivalDate.epoc * 1000)).toLocaleDateString() %></td>
   				</tr>
				<% } %>
			</table>
		<% }else{ %>
			<span>No any arrival records for tomorrow.</span>
		<% } %>
	</div>
	
	<div>
		<strong>Kind Regards,</strong><br>
		<strong>Trek Engine Team</strong>
	</div>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">

	    /* Your custom styles go here */
	    * { margin: 0; padding: 0; font-size: 100%; font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; line-height: 1.65; }

		img { max-width: 100%; margin: 0 auto; display: block; }

		body, .body-wrap { width: 100% !important; height: 100%; background: #f8f8f8; }

		a { color: #71bc37; text-decoration: none; }

		a:hover { text-decoration: underline; }

		.text-center { text-align: center; }

		.text-right { text-align: right; }

		.text-left { text-align: left; }

		.button { display: inline-block; color: white; background: #71bc37; border: solid #71bc37; border-width: 10px 20px 8px; font-weight: bold; border-radius: 4px; }

		.button:hover { text-decoration: none; }

		h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; line-height: 1.25; }

		h1 { font-size: 32px; }

		h2 { font-size: 28px; }

		h3 { font-size: 24px; }

		h4 { font-size: 20px; }

		h5 { font-size: 16px; }

		p, ul, ol { font-size: 16px; font-weight: normal; margin-bottom: 20px; }

		.container { display: block !important; clear: both !important; margin: 0 auto !important; max-width: 580px !important; }

		.container table { width: 100% !important; border-collapse: collapse; }

		.container .masthead { padding: 80px 0; background: #3c8dbc; color: white; }

		.container .masthead h1 { margin: 0 auto !important; max-width: 90%; text-transform: uppercase; }

		.container .content { background: white; padding: 30px 35px; }

		.container .content.footer { background: none; }

		.container .content.footer p { margin-bottom: 0; color: #888; text-align: center; font-size: 14px; }

		.container .content.footer a { color: #888; text-decoration: none; font-weight: bold; }

		.container .content.footer a:hover { text-decoration: underline; }
    </style>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">
            <table>
                <tr>
                    <td align="center" class="masthead">
                        <h1>Trek Engine</h1>
                    </td>
                </tr>
                <tr>
                    <td class="content">

                        <h2>Hi <%= trip['userName'][0] %>,</h2>
                        <p>
                        	You have Following Trip arriving/departuring tomorrow:
                        </p>
                        <p>
                        	<span><strong>Departures</strong></span>
							<% if(trip.departures.length>0){ %>
								<table>
									<thead>
										<tr>
											<th>Group Name</th>
											<th>Trip Name</th>
											<th>Total Member</th>
											<th>Departure Date</th>
											<th>Arrival Date</th>
										</tr>
									</thead>
									<% for(var i=0; i < trip.departures.length; i++) { %>
					   				<tr>
					     				<td align="center"><%= trip.departures[i].bookings.groupName %></td>
					     				<td align="center"><%= trip.departures[i].bookings.tripName %></td>
					     				<td align="center"><%= trip.departures[i].bookings.travellerCount %></td>
					     				<td align="center"><%= (new Date(trip.departures[i].departureDate.epoc * 1000)).toLocaleDateString() %></td>
					     				<td align="center"><%= (new Date(trip.departures[i].arrivalDate.epoc * 1000)).toLocaleDateString() %></td>
					   				</tr>
									<% } %>
								</table>
							<% }else{ %>
								<p>No any departure records for tomorrow</p>
							<% } %>
						</p>
						<p>
							<span><strong>Arrivals</strong></span>
							<% if(trip.arrivals.length>0){ %>
								<table>
									<thead>
										<tr>
											<th>Group Name</th>
											<th>Trip Name</th>
											<th>Total Member</th>
											<th>Departure Date</th>
											<th>Arrival Date</th>
										</tr>
									</thead>
									<% for(var i=0; i < trip.arrivals.length; i++) { %>
					   				<tr>
					     				<td align="center"><%= trip.arrivals[i].bookings.groupName %></td>
					     				<td align="center"><%= trip.arrivals[i].bookings.tripName %></td>
					     				<td align="center"><%= trip.arrivals[i].bookings.travellerCount %></td>
					     				<td align="center"><%= (new Date(trip.arrivals[i].departureDate.epoc * 1000)).toLocaleDateString() %></td>
					     				<td align="center"><%= (new Date(trip.arrivals[i].arrivalDate.epoc * 1000)).toLocaleDateString() %></td>
					   				</tr>
									<% } %>
								</table>
							<% }else{ %>
								<p>No any arrival records for tomorrow.</p>
							<% } %>
						</p>
						<p>
                        	<strong>Kind Regards,</strong><br>
							<strong>Trek Engine Team</strong>
                        </p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p>Sent by <a>Trekengine Support Team</a></p>
                        <p><a href="mailto:">support@trekengine.com</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>