<!DOCTYPE html>
<html>
<head>
	<title>TrekEngine Registration</title>
</head>
<body>
	<div>
		<p>Hi <%= userName %>,</p>
	</div>
	<div>
		<p>The first step to getting started with Trek Engine is to activate your account by clicking this link: </p>
		<a href="<%= webHost %>">
			<%= webHost %>
		</a>
	</div>
	<div>
		<p>
		Once you’ve activated your account, log in at <%= appLink %> using the email <%= userEmail %> and password you created your account with.
		</p>
	</div>
	<div>
		<p>You can give us a call or write to us anytime if you need any support.</p>
	</div>
	<div>
		<p>Thank you.</p>
		<p>Trek Engine Team.</p>
	</div>
</body>
</html>